html {
	background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: Arial Black, sans-serif;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax());
	margin: 0;
	padding: 0;
}

#wrapper {
	margin-top: -50;
}

.topnav {
  background: linear-gradient(to bottom, #9c61fa, #d4cede);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.buffer {
	height: 20px;
}

#header {
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	color: white;
	font-size: 100px;
}

.container-fluid {
	display: flex;
	justify-content: center;
	margin-left: 120px;
	width: 1650px;

}

.buffer2 {
	height: 70px;
}

.button-array {
	display: flex;
	justify-content: center;
}

button {
	font-family: Arial Black, sans-serif;
	font-size: 16px;
	border-radius: 30px;
	margin: 10px;
	height: 60px;
	width: 140px;
	background: linear-gradient(to bottom, green, yellow);
	border: 3px solid green;
}

button:hover {
	transform: scale(1.1);
}